* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: whitesmoke;
}

body, input, button, textarea {
  font-weight: 600 18px;
  font-family: 'Nunito', sans-serif;
}